
<div class="jheading">Counters</div>

<div class="settings_buttons">
  <%=link_to "Main Counter",'/counters/main_counter',:class=>"jbtn" %>
  <%=link_to "Other Counter",'/counters/other_counter',:class=>"jbtn" %>
</div>

