<style>
  .jheading{
      font-size:60px;
      font-weight:bold;
      width:300px;
      border-right:3px solid;
      padding: 55px;
}
</style>
<div class="jheading">Counters</div>

<div class="span4"> <%=link_to "Main Counter",'/counters/main_counter',:class=>"btn-large btn-info" %></div>
<div class="span4"><%=link_to "Other Counter",'/counters/other_counter',:class=>"btn-large btn-info" %></div>

