
 <ul class="nav nav-pills nav-stacked" style="margin-top:80px;padding:10px">
    <li><%#=link_to "Dashboard",'/hotelsessions/dashboard',:class=>"btn-large btn-warning"%></li>
<%#=link_to "Add Tables", {:controller=>'tables',:action=>'new'},:class=>'btn btn-warning'%>
 <li><%#=link_to_modal "Tables", '/tables/new',:class=>'btn-large btn-info'%></li>
<li><%#=link_to "Tax", '/taxes/show',:class=>'btn-large btn-success'%></li>

   <li><%#=link_to "Categories",'/categories/show',:class=>'btn-large btn-success'%>
   <%#=link_to "Counter",'/counters/show',:class=>"btn-large btn-info"%>
   <li>
  <%#=link_to "Main Counter",'/counters/main_counter',:class=>"btn-small btn-info" %>
  <%#=link_to "Other Counter",'/counters/other_counter',:class=>"btn-small btn-info" %>
   </li>
    <li><%#=link_to "Kitchen",'/kitchens/kitchen',:class=>"btn-large btn-success"%></li>
   <li><%#=link_to "Items",'/items/show',:class=>'btn-large btn-info'%></li>
 <%#=link_to "Add Tax", {:controller=>'tables',:action=>'new'},:class=>'btn btn-warning'%>

    <li><%=link_to "Swipe Card report",'/swipeCards/show',:class=>"btn-large btn-success"%></li>
    <li><%#=link_to "Stock List",'/stock_list_items/show',:class=>"btn-large btn-info"%></li>
     <li><%#=link_to "Delivery Items",'/delivery_items/new',:class=>"btn-large btn-success"%></li>
    <li><%#=link_to "Remaining Items",'/remaining_items/new',:class=>"btn-large btn-info"%></li>
    <li><%=link_to "Day Report",'/hotelsessions/day_report',:class=>"btn-large btn-success"%></li>
<li><%=link_to "Reports",'/hotelsessions/inventory',:class=>"btn-large btn-info"%></li>

<li><%#= link_to "Manage Users", '/manage_users/index', :class => "btn-small btn-primary"%> </li>
<li><%#= link_to "Manage Roles", '/roles/show', :class => "btn-small btn-primary"%> </li>
<li><%#=link_to "Setting",edit_user_registration_path ,:class=>"btn-large btn-primary"%></li>
<li><%#=link_to "Gallery",'/galleries/show',:class=>"btn-large btn-info"%></li>
<li><%#=link_to "About us",'/abouts/show',:class=>"btn-large btn-success"%></li>
<li><%#=link_to "Contact us",'/contacts/show',:class=>"btn-large btn-info"%></li>


<li> <%#= link_to "Sign out", destroy_user_session_path, :method => :delete,:class=>"btn-large btn-danger" %></li>
<li>&nbsp;</li>
<li><%#= link_to "API Description", '/pages/api', :class => "btn-large btn-primary" %></li>

     </ul>