<div class="jheading" style ="float: none;padding:30px;width: 100%;padding-left: 40px;">Reports</div>
<div class="settings_buttons" style ="width: 100%;">
  <%=link_to "Swipe Card report",'/swipeCards/show',:class=>"jbtn"%>
  <%=link_to "Day Report",'/hotelsessions/day_report',:class=>"jbtn"%>
  <%=link_to "Reports",'/hotelsessions/inventory',:class=>"jbtn"%>
</div>
<div class ="main_div">
  <p>Main Div</p>
</div>
