<div class="jheading" style ="float: none;padding:30px;width: 100%;padding-left: 40px;">Check Inventory</div>
<div class="settings_buttons" style ="width: 100%;">
  <%=link_to "Stock List",'/stock_list_items/show',:class=>"jbtn"%>
  <%=link_to "Delivered Items",'/delivery_items/new',:class=>"jbtn"%>
  <%=link_to "Remaining Items",'/remaining_items/new',:class=>"jbtn"%>
</div>
<div class ="main_div">
  <p>Main Div</p>
</div>


    