<div class="jheading" style ="float: none;padding:30px;width: 100%;padding-left: 40px;">HR</div>
<div class="settings_buttons" style ="width: 100%">
  <%= link_to "Employees", '/employees/show', :class => "jbtn"%>
  <%= link_to "Attendance", '/attendances/index', :class => "jbtn"%>
  <%= link_to "Payroll", "/salaries/index", :class => "jbtn"%>
</div>
<%#*Required AJAX code here..%>
<div class ="main_div">
  <p></p>
</div>