  <ul class="nav nav-pills nav-stacked" style="margin-top:80px;padding:10px">
<li><%=link_to "Add Categories",'/categories/show',:class=>'btn-large btn-success'%></li>
<li><%=link_to "Add Items",'/items/show',:class=>'btn-large btn-info'%></li>
<li><%=link_to "Add Counters",'/counters/show',:class=>'btn-large btn-info'%></li>
<li><%=link_to "Tax", '/taxes/show',:class=>'btn-large btn-success'%></li>
</ul>
