<style>
  .jbtn{
    line-height: 100px;
    padding-left: 60px;
}
</style>
<div class="jheading" style ="float: none;padding:30px;width: 100%;padding-left: 40px;">Main Menu</div>
<div class="settings_buttons" style ="width: 100%;">
  <%=link_to "Categories",'/categories/show',:class=>'jbtn'%>
  <%=link_to "Items",'/items/show',:class=>'jbtn'%>
  <%=link_to "Counters",'/counters/show',:class=>'jbtn'%>
  <%=link_to "Tax", '/taxes/show',:class=>'jbtn'%>
</div>
<%#*Required AJAX here....%>
<div class ="main_div">
  <p></p>
</div>