<%#*used custom_css file for css%>
<div class="jheading">Settings</div>
<div class="settings_buttons">
<%= link_to "Users", '/manage_users/index', :class => "jbtn"%>
<%#*<li><%= link_to "Manage Roles", '/roles/show', :class => "btn-small btn-primary"% </li>%>
<%=link_to "Settings",edit_user_registration_path ,:class=>"jbtn"%>
</div>
<div class ="main_div">
  <p>Main Div</p>
</div>