<ul class="nav nav-pills nav-stacked" style="margin-top:80px;padding:10px">
<li><%= link_to "Manage Users", '/manage_users/index', :class => "btn-small btn-primary"%> </li>
<li><%= link_to "Manage Roles", '/roles/show', :class => "btn-small btn-primary"%> </li>
<li><%=link_to "ADIM Settings",edit_user_registration_path ,:class=>"btn-large btn-primary"%></li>
</ul>
